html, body
{
  height: 100%;
  margin: 0;
  color:black;
}

#img1{
    width: 500px;
    height: 330px;
}
#img2{
    width: 500px;
}


.header
{
	color: rgb(7, 0, 0);
	font-family: 'Yeon Sung';
	font-size: 45px;
	letter-spacing: 10px;
	
}
.header img
{
	width: 80px;
}
.log { 
	float: right;
    margin-top: 10px;
	margin-right: 100px;
   }
.login_div
{
	background: rgba(223, 216, 211, 0.8);
	
	border-radius: 15px;
	width:90%;
	height: 100%;
	padding:50px;
	text-align: center;
	
}

.logo
{
	width: 140px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
	background-color: rgb(163, 152, 150);
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}

#addrm
{
	background-color: rgb(165, 144, 113);
}
#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: rgb(5, 4, 4)
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}


#msg{
	z-index: 9999999;
}




.container:before {

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.4;
    background-image: url('cat.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    
   
    background-size: cover;
}

.my_container {
	

	opacity: 100;
	z-index: 2;
	position: relative;
	

}
#cat_img
{
	height:100%;
	width:50%;
}


